#characters {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(179, 164, 146, 0.29);
    border-radius: 20px;
}

.characterWrapper {
    padding: 20px 0 20px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.likeStyle {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
}

.name {
    width: 20vw;
    height: 25vw;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-align: center;
    color: rgb(255, 241, 133);
    position: relative;
}

.linkForCharacter {
    color: rgb(255, 241, 133);
    text-decoration: none;  
    background-color: rgba(0, 0, 0, 0.498);
    width: 20vw;
    height: 25vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:active {
    color: rgba(255, 241, 133, 0.323);
}
