@font-face {
    font-family: "Harry P";
    src: url(Font/HARRYP__.TTF);
}

body {
    margin: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerCharacters {
    margin: 10px;
    font-family: "Harry p";
    text-align: center;
    font-size: 10vw;
    color: rgb(255, 241, 133);
}

#characters {
    box-sizing: border-box;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.name {
    font-family: "Harry P";
    width: 20vw;
    height: 25vw;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-position: top;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-align: center;
    color: rgb(255, 241, 133);
    white-space: pre-wrap;
}
