#membersBtn {
    border: none;
    background-color: transparent;
    font-size: 3vw;
    text-shadow: #FC0 1px 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#membersBtn:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#membersBtn:active {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#backToHouses {
    border: none;
    background-color: transparent;
    font-size: 3vw;
    text-shadow: #FC0 1px 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#backToHouses:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#backToHouses:active {
    text-shadow: #FC0 1px 0 10px;
}

#houseMembers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 85%;
}

.house {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 0px 50px;
}

.house > p {
    font-size: 4vw;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: white;
}

h5 {
    font-size: 6vw;
    text-align: center;
}

#theFourHouses {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 50px 100px;
    border-radius: 20px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#theFourHouses > div > h2 {
    font-size: 50px;
}

#theFourHouses > div > p {
    opacity: 0;
    font-size: 25px;
    animation: fadeIn 0.5s ease-in-out forwards;
}

#theFourHouses > div > p.hidden {
    display: none;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

#theFourHouses > div > h2:hover + p.description {
    animation: fadeIn 0.5s ease-in-out forwards;
}

#theFourHouses > div > p.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

#theFourHouses > div:nth-of-type(1) > h2 {
    color: #751807;
}

#theFourHouses > div:nth-of-type(2) > h2 {
    color: #1d6a1a;
}

#theFourHouses > div:nth-of-type(3) > h2 {
    color: #01779e;
}

#theFourHouses > div:nth-of-type(4) > h2 {
    color: #c99506;
}

#houseMembers > div:nth-of-type(1) > h5 {
    text-shadow: #ff2600 1px 0 10px;
}

#houseMembers > div:nth-of-type(2) > h5 {
    text-shadow: #06be00 1px 0 10px;
}

#houseMembers > div:nth-of-type(3) > h5 {
    text-shadow: #00bfff 1px 0 10px;
}

#houseMembers > div:nth-of-type(4) > h5 {
    text-shadow: #FC0 1px 0 10px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}


