@font-face {
    font-family: "Harry P";
    src: url(./HARRYP__.TTF);
}

body {
    margin: 0;
    min-width: 1280px;
    min-height: 1920px;
}

main {
    height: 100%;
}

nav {
    display: flex;
    justify-content:space-between;
    padding: 5px;
    align-items: center;
}

.btnStyle {
    border: none;
    background-color: transparent;
    font-size: 5vw;
}

.btnStyle:hover {
    color: grey;
}

#logout {
    width: 60px;
}