@font-face {
    font-family: "Harry P";
    src: url(./HARRYP__.TTF);
}

body {
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
}

nav {
    height: 100px;
    display: flex;
    justify-content:space-between;
    padding: 5px;
    align-items: center;
}

footer {
    height: 30px;
    margin: 10px;
    text-align: center;
}

.btnStyle {
    border: none;
    background-color: transparent;
    font-size: 5vw;
}

.btnStyle:hover {
    color: grey;
}

#logout {
    width: 60px;
    
}

#me  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#me p {
    font-size: 30px;
}