body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    
}

nav {
    display: flex;
    justify-content:space-between;
    padding: 5px;
    align-items: center;
}

#logout {
    width: 60px;
}