/* Har skrivit ut alla klasser och id så det är bara att snygga till det */

#infoContainer {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 50px 100px;
    color: white;
}

.infoH2 {
    font-size: 50px;
}

.infoP {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.linkForBooks {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

br {
    display: block;
    margin: 10px 0;
}
