@font-face {
    font-family: "Harry P";
    src: url(./harry_p/HARRYP__.TTF);
}

.logRegContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#bg {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.64);
  margin: 0;
  flex-direction: column;
  width: 60vw;
  height: 90vh;
  border-radius: 20px;
  justify-content: center;
}

.h2Size {
  font-family: "Harry P";
  font-size: 10vw;
  margin-bottom: 0;
  color: #fffcc8;
}
form {
  display: flex;
  flex-direction: column;
  width: 350px;
  position: relative;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Harry P";

}
button {
    font-family: "Harry P";
    font-size: 20px;
    padding: 5px;
}
form .form-field:nth-child(1)::before {
  background-image: url(img/user-icon.png);
  width: 20px;
  height: 20px;
  top: 15px;
}
form .form-field:nth-child(2)::before {
  background-image: url(img/lock-icon.png);
  width: 16px;
  height: 16px;
}

form input {
  font-family: inherit;
  width: 40vw;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 3vw;
  color: #4A4A4A;
  text-indent: 40px;
}
#register {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #ffffff74;
  color: #fff;
  font-family: "Harry P";
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#login {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #3c3e3b;
  color: #fff;
  font-family: "Harry P";

  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 20px;
}
