body {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.allBtn {
    font-size: 5vw;
    background: none;
    border: none;
    cursor: pointer;
    text-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.listMenu:hover {
    color: rgba(240, 248, 255, 0.632);
}

#lightningMenu {
    height: 10vw;
    width: 6vw;
    background-size: cover;
    background-position: center;
    background-image: url(../menu-pictures/menu.png);
    border: none;
    background-color: transparent;
}
/*
.listMenu:hover {
    color: rgba(0, 0, 0, 0.273);
}
*/
.changeHousesHeader {
    margin-bottom: 10px;
    font-size: 3vw;
    display: flex;
    text-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.allHouses {
    display: flex;
    gap: 5px;
}

#gryffindor {
    background-image: url(../menu-pictures/gryffindor.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}

#slytherin {
    background-image: url(../menu-pictures/slytherin.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}
#ravenclaw {
    background-image: url(../menu-pictures/ravenclaw.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}
#hufflepuff {
    background-image: url(../menu-pictures/hufflepuff.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}