@font-face {
    font-family: "Harry P";
    src: url(../harry_p/HARRYP__.TTF);
}
#menu {
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(178, 183, 175); 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lightningMenu {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-image: url(../menu-pictures/menu.png);
}

.listMenu  {
    font-size: 8vw;
    text-decoration: none;
    color: black;
}

.listMenu:hover {
    color: rgba(0, 0, 0, 0.273);
}

.changeHousesHeader {
    margin-bottom: 10px;
    font-size: 3vw;
}

.allHouses {
    display: flex;
    gap: 5px;
}

.changeAllHouses {
   width: 80px;
   height: 80px;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
}

.changeHousesGryffindor {
    background-image: url(../menu-pictures/gryffindor.png);
}

.changeHousesSlytherin {
    background-image: url(../menu-pictures/slytherin.png);
}
.changeHousesRavenclaw {
    background-image: url(../menu-pictures/ravenclaw.png);
}
.changeHousesHufflepuff {
    background-image: url(../menu-pictures/hufflepuff.png);
}

.changeHousesGryffindor:active {
    background-image: none;
}