@font-face {
    font-family: "Harry P";
    src: url(../harry_p/HARRYP__.TTF);
}

#menu {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-size: cover;
    background-position: center;
}

.titleMenu {
    font-size: 7vw;
}

.allBtn {
    font-family: "Harry P";
    font-size: 5vw;
    background: none;
    border: none;
    cursor: pointer;
}

#lightningMenu {
    height: 76px;
    width: 45px;
    background-size: cover;
    background-position: center;
    background-image: url(../menu-pictures/menu.png);
    border: none;
    background-color: transparent;
}

.listMenu:hover {
    color: rgba(0, 0, 0, 0.273);
}

.changeHouses {
    display: flex;
    flex-direction: column;
}

.changeHousesHeader {
    margin-bottom: 10px;
    font-size: 3vw;
}

.allHouses {
    display: flex;
    gap: 5px;
}

#gryffindor {
    background-image: url(../menu-pictures/gryffindor.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}

#slytherin {
    background-image: url(../menu-pictures/slytherin.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}
#ravenclaw {
    background-image: url(../menu-pictures/ravenclaw.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}
#hufflepuff {
    background-image: url(../menu-pictures/hufflepuff.png);
    width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}