@font-face {
    font-family: "Harry P";
    src: url(./HARRYP__.TTF);
}

#movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    background-color: rgba(165, 128, 80, 0.29);
    border-radius: 20px;
    padding: 10px;
}

.movieWrapper {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.plot {
    width: 20vw;
    height: 35vh;
    color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    text-align: center;
}

.overlayText {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 35vh;
    border-radius: 20px;
}

.overlayText:hover {
    background-color: rgba(0, 0, 0, 0.498);
}



.plot:hover {
    color: white;
}

.cover {
    font-size: 3vw;
    text-align: center;
}



