#movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    position: relative;
}

.cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    border-radius: 10px;
}

.plot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cover:hover + .plot {
    opacity: 1;
}

