@font-face {
    font-family: "Harry P";
    src: url(HARRYP__.TTF);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(background2.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Harry P";
    font-size: 10vw;
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

.grid {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*.card {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(182, 153, 153, 0.466);
    display: flex;
    justify-content: center;
    align-items: center;

}
*/

img {
    background-size: cover;
    background-position: center;
    height: 25vw;
    border-radius: 10px;
}

.card p {
    display: none;
    text-align: center;
    margin: 10px;
}
