@font-face {
    font-family: "Harry P";
    src: url();
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url();
}

h1 {
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

.grid {

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 10px;
}

.card {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #0664a2;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    background-size: cover;
    background-position: center;
    
    height: 20vh;
    border-radius: 10px;
}

.card p {
  display: none;
}
