@font-face {
  font-family: "Harry P";
  src: url(./HARRYP__.TTF);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  padding: 20px;
background-color: rgba(165, 128, 80, 0.29);
border-radius: 10px 10px 0 0;
display: flex;
justify-content: space-between;
align-items: center;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Harry P";

}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: "Harry P";

}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}

.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{ 
  width: 100%;
  padding:30px;
  text-align: center;
  background: url('../Bild/gcztte8rnc68ag2o\ copy.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  color: antiquewhite;
}
.center .title{
  font-size: 55px;
  font-weight: 600;
  font-family: "Harry P";

}
.center .sub_title{
  font-size: 52px;
  font-weight: 600;
  font-family: "Harry P";

}

h3{
  font-size: 40px;
}
#primary-content {
  background-color: #f8fafa;
  text-align: center;
  
}
#primary-content h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}
#primary-content a img {
  margin: 20px 0;
}
.infobox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  background: url('../Bild/gcztte8rnc68ag2o\ copy.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  color: antiquewhite;

}
.film-text{
  display: flex;
  gap: 5%;
  padding: 5%;
  background: url('../Bild/gcztte8rnc68ag2o\ copy.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  color: antiquewhite;
}
article{
  font-family: "Harry P";
  font-size: 20px;
  background: url('../Bild/gcztte8rnc68ag2o\ copy.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2%;
  color: antiquewhite;
  font-size: 25px;
}