@font-face {
    font-family: "Harry P";
    src: url(Font/HARRYP__.TTF);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
}

#characters {
    background-image: url(Images-characters/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.headerCharacters {
    padding: 10px;
    margin: 10px;
    font-family: "Harry P";
    font-size: 40px;
    color: rgba(255, 227, 175, 0.838);
    background-color: rgba(0, 0, 0, 0.267);
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    position: sticky;
    top: 10px;
    z-index: 999;
}

.backgroundCharacters {
    border-radius: 20px;
    min-height: 90vh;
    width: 90vw;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.name {
    background-size: cover;
    background-position: center;
    background-position: top;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.643);
}

.name:hover {
    transition: .3s ease;
    opacity: 0.5;
}

.HarryPotter {
    background-image: url(Images-characters/Harry_Potter_-_GoF_Promo.jpg);
}

.HermioneGranger {
    background-image: url(Images-characters/Hermione.webp);
}

.RonWeasley {
    background-image: url(Images-characters/Ron_Weasley_Infobox.webp);
}

.SeverusSnape {
    background-image: url(Images-characters/severus-snape-order-of-the-phoenix-portrait.jpg);
}

.AlbusDumbledore {
    background-image: url(Images-characters/51dccd2dcb8e60f52489446de42a9531a3d065c3r1-914-1168v2_00.jpg);
}

.NevilleLongbottom {
    background-image: url(Images-characters/NevilleHBP.webp);
}

.Voldemort {
    background-image: url(Images-characters/2.png);
}

.SiriusBlack {
    background-image: url(Images-characters/f95b26d6-87c7-4c86-8bdb-430550b91f73.jpg);
}

.DracoMalfoy {
    background-image: url(Images-characters/Harry-Potter-The-Deathly-Hallows-Part-II.webp);
}

.BellatrixLestrange {
    background-image: url(Images-characters/c308b1_305cfba9319249d0b3a8d022b06676e8.jpg);
}

.ArgusFilch{
    background-image: url(Images-characters/Mainfulcd.webp);
}

.RubeusHagrid {
    background-image: url(Images-characters/FfDWZ7rX0AExKwl.jpg);
}

.SibyllaTrelawney {
    background-image: url(Images-characters/Namnlös.jpg);
}

.RemusLupin {
    background-image: url(Images-characters/Remus_lupin.webp);
}

.LuciusMalfoy {
    background-image: url(Images-characters/Lucius_Malfoy.webp);
}

.MinervaMcGonagall {
    background-image: url(Images-characters/1534780170299.jpg);
}

.AlastorMoody {
    background-image: url(Images-characters/mad-eye-moody-order-of-the-phoenix-portrait-2.jpg);
}

.GilderoyLockhart {
    background-image: url(Images-characters/COS-promo1.webp);
}

.Dobby {
    background-image: url(Images-characters/47ae5f2eb491c2095a5c29300eb9eb23.jpg);
}

.Hedwig {
    background-image: url(Images-characters/1_hedwig.jpg);
}